html, body, div, span, object, h1, h2 ,h3,h4,h5,h6,p,a,b,u,i,center,ol,ul,li,table,caption{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{height: 100%;}
body{
	height: 100%;
	background-color: #FFF;
}

ol, ul {list-style: none;}
*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover{text-decoration: none;}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after {clear:both;}

.left{float: left;}
.right{float: right;}



logo{
	float: left;
	margin-top: 40px;
}



.logo h5 { font-size: 24px; font-weight: 900; color: white; margin-top: 40px; }

.menu{
	float: right;
	margin-top: 0px;
}

.menu li {
	float: left;
	margin-right: 40px;
}

.menu li:last-child{
	margin-right: 0;
}




.menu a{
	text-transform:  uppercase;
	font: 14px Arial, sans-serif;
	color: #fff;
}






.wrapper{
	height: 650px;
	background: #222 url(../img/bg.jpg) no-repeat center bottom;
	 width: 100%;
    background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	padding-bottom: 35px;
}



.fontpage{
	width: 100%;
	text-align: center;
	margin-top: 200px;
}




.fontpage h1 {
	color: white;
	text-align: center;
}

@media all and (min-width: 200px) {
  
  .fontpage h1 {
    font-size: 35px;
  }
	
}
@media all and (min-width: 300px) {
  
  .fontpage h1 {
    font-size: 40px;
  }
	
}
@media all and (min-width: 500px) {
  
  .fontpage h1 {
    font-size: 45px;
  }
}
@media all and (min-width: 600px) {
  
  .fontpage h1 {
    font-size: 50px;
  }
}
@media all and (min-width: 700px) {
  
  .fontpage h1 {
    font-size: 50px;
  }
	
}
@media all and (min-width: 800px) {
  .fontpage h1 {
    font-size: 55px;
  }
	
}
@media all and (min-width: 960px) {
  .fontpage h1 {
    font-size: 60px;
  }
	
}


.fontpage p{
	font-size: 18px;
	color: white;
}

/* FRONT BATTON FIRST-----------------------------------*/


/* Outline Out */
.hvr-outline-out {
	width: 200px;
	height: 70px;
	background: none;
	font-size: 20px;
	font-weight:600;
	color: aliceblue;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
	margin-top: 20px;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;

}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
	color: black;
}

.hvr-outline-out a{
	color: aliceblue;
}

/* FRONT BATTON FIRST END-----------------------------------*/


.services{
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.services h1 {
	font-size: 35px;
	color: #696969;
	font-weight: 500;
}
.services h2{
	font-size: 20px;
	color: #696969;
	padding-top: 30px;
}

.services h5{
	font-size: 22px;
	color:#808080;
	padding-top: 10px;
}
.services p{
	font-size: 18px;
	color:#808080;
	padding-top: 10px;
}

#icon{
	margin-top: 70px;
}

/* ABOUT US PART-------------------*/
.aboutUs {
	background-color: #eef1ec;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.aboutUs h1 {
	font-size: 35px;
	color: #696969;
	font-weight: 500;
}
.aboutUs h2{
	font-size: 20px;
	color: #696969;
}

.aboutUs h5{
	font-size: 22px;
	color:#808080;
	
	
}
.aboutUs h6{
	font-size: 20px;
	color:#808080;
	padding-top: 12px;
	
	
}

.aboutUs p{
	font-size: 18px;
	color:#808080;
	padding-top: 70px;
	text-align: left;
	text-align: left;
}



/*CONTACT ICONS----------------------- */

/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  

.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 

.social-icons .fa-instagram{background-color:#A1755C;}

.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 

.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}

 /*CONTACT ICONS-----------------------  ENDDDDDDDDDDDDDDDDDDDDDDDD*/

/* Reveal MENU BOTTOM EFECTTTTTTTTTTTTTTTTTT */
.hvr-reveal {
	padding: 15px;
	background: none;
	font-size: 20px;
	font-weight:600;
	color: aliceblue;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #696969;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}


/* SCROLL -----------------------------------------------*/
#scrollup {
	
	margin-top: 200px;
position: fixed; /* фиксированная позиция */
opacity: 1; /* прозрачность */
padding: 2px 2px 2px; /* отступы */
background: none;
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
left: 10px; /* отступ слева */
bottom: 10px; /* отступ снизу */
display:none; /* спрятать блок */
cursor: pointer;
    margin-bottom: 30px;
	
	z-index: 9999;
	
}
#scrollup li {
	
	list-style-type: none;
}

/**/
.topWindow {
    position: fixed;
   left: 40%;
	
	
	margin-top: 0;
	text-align: center;
    z-index:9999; /* Чтобы приклеенный элемент располагался над всеми остальными элементами страницы */
    }



/* HOVER PERSONAL------------------------------*/

.hovereffect {
	padding-top: 70px;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: auto;
	
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #B22222;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}


/* WORKS PART-----------------------------------------*/


.works{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;

}

.works h1 {
	font-size: 35px;
	color: #696969;
	font-weight: 500;
}

/*HOVER EFECT WORK---------------------- */

.hovereffectTw {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: white;
}

.hovereffectTw .overlayTw {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffectTw img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffectTw:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffectTw h2 {
  text-transform: uppercase;
  color: #696969;
  text-align: center;
  position: relative;
  font-size: 25px;
	font-weight: 700;
	opacity: 0.9;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffectTw h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #B22222;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffectTw:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffectTw a, .hovereffectTw p {
	font-size: 14px;
  color: #696969;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
	margin-top: 7px;
}

.hovereffectTw:hover a, .hovereffectTw:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*PARALAX PART-----------------*/
.parallax{
	width: auto;
	height:360px;
	background-image: url(../img/bg3.jpg);
	 background-size: cover;
    background-attachment: fixed;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	
}

.parallax h1{
	font-family:Comic Sans, Comic Sans MS, cursive	;
	font-size: 35px;
	font-weight: 600;
	color: #FFE4E1;
}



/* BLOG PART ----------------------------*/

.blog{
	padding-top: 100px;
	padding-bottom: 100px;
	height: auto;
	text-align: center;
}

.blog h1 {
	font-size: 35px;
	color: #696969;
	font-weight: 500;
}


.blog h5{
	font-size: 22px;
	color:#808080;
}

.blog p{
	font-size: 18px;
	color:#808080;
	padding-top: 70px;
	text-align: left;
	text-align: left;
}

.posts{text-align: left;padding-top: 70px;}

.posts img{padding-top: 40px;}

.posts h5{
	font-size: 22px;
	color:#808080;
	padding-top: 40px;
}

.posts p{
	font-size: 18px;
	color:#808080;
	padding-top: 70px;
	text-align: left;
	text-align: left;
}
.posts h4{
	font-family:Comic Sans, Comic Sans MS, cursive	;
	font-size: 15px;
}

/* Underline From Left */
.hvr-underline-from-left {
	padding-top: 40px;
	background: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
	color: #B22222;
	font-size: 19px;
	border: none;
	
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #B22222;
	opacity: 0.6;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


.clients{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.clients ul li {
	display: inline-block;
	margin: 10px;
}